.charProgress {
    width: 22px;
    height: 22px;
    border-radius: 15px;
    /* border: 2px solid #333; */
    display: grid;
    place-items: center;
}

.charProgress:before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: #000;
    border-radius: 10px;
}

.countdown {
    position: relative;
    font-size: 10px;
    color: #fff;
    padding: 3px;
    border-radius: 10px;
}
