.auth-container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.auth-container-box {
    width: 500px;
    border-radius: 10px;
    overflow: indent;
    box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
}

.auth_container_box form {
    display: flex;
    flex-direction: column;
    height: 350px;
    padding: 20px;
}

.auth_options {
    display: flex;
}

.auth_options button {
    width: 50%;
    border: none;
    padding: 10px;
    color: rgb(35, 38, 47);
}

.copyright {
    font-size: 13px;
    margin: 10px;
    color: rgb(114, 114, 144);
}

.user_email {
    float: right;
    font-size: 13px;
    margin: 10px;
    color: rgb(114, 114, 144);
}