.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 33vh;
    /* border: 1px solid yellow; */
}

.menuItems {
    display: flex;
    justify-content: flex-start;
}

.menuItems span {
    margin-left: 10px;
    font-size: 1em;
    align-self: center;
    font-weight: 500;
}

.notifications {
    /* border: 1px solid green; */
    position: relative;
}


.notificationCount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -7px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: #1D9BF0;
    border-radius: 10px;
    font-size: .6em;
    padding: 8px 8px 9px 8px;
    font-weight: 500;

}

button {
    border: none;
    color: #fff;
    padding: 10px 75px;
    background-color: #4A99E9;
    border-radius: 20px;
    font-weight: bold;
}
.icon {
    font-size: 1.3em;
}

.userStuff {
    /* width: 185px; */
    padding: 10px;
    border-radius: 85px;
}

.accountMenu {
    display: flex;
    align-items: center;
}

.userStuff:hover {
    background: rgba(51, 51, 51, 0.4);
}

.accountMenu {
    display: flex;
}

.activeUser {
    font-size: 0.75em;
    margin-right: 10px;
}


.avatar {
    margin-right: 10px;
    height: 35px;
    width: 35px;
    border-radius: 18px;
    overflow: hidden;
}
.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.displayName {
    font-weight: 700;
}

.userN {
    color: #999;
}

